 # Real Estate Price Prediction Artificial   Intelligence Project With Multiple Linear Regression

1- In Multiple Linear Regression, there is one dependent variable corresponding to multiple independent variables.

2- Linear Regression is a predictive modeling technique that utilizes the existing correlation (relationship) between data to forecast future data points. In this context, machine learning assists us in identifying and understanding this relationship between the data, enabling us to predict new data points

3- In this project, we will create an artificial intelligence model using machine learning, specifically employing Multiple Linear Regression, to predict real estate prices based on the available data.

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
# sklearn Libary
from sklearn import linear_model

# We are importing our dataset, specifying the semicolon as the delimiter because it is used as the separator.

df = pd.read_csv("multilinearregression.csv" , sep = ";")

In [10]:
# Let's view our dataset and check if we have imported it correctly.
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [31]:
# Defining the linear regression model:

reg = linear_model.LinearRegression()
reg.fit(df[['alan', 'odasayisi', 'binayasi']], df['fiyat'])

# Make Prediction ..

reg.predict([[230,4,10]])

array([530243.29284619])

In [32]:
# Here, we are entering real estate data from our dataset and printing the apartment prices.

reg.predict([[230,6,0]])

array([586097.7833456])

In [30]:
reg.predict([[230,4,10], [230,6,0], [355,3,20]])

array([530243.29284619, 586097.7833456 , 616657.45791365])

In [33]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [34]:
reg.intercept_

262365.1503032055

In [37]:
# If we return to our Multiple Linear Regression formula, let's remember:
# y= a+b1X1+b2X2+b3X3 + 

a = reg.intercept_ 
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 275
x2 = 3
x3 = 11

y = a + b1*x1 + b2*x2 + b3*x3

In [38]:
y

558597.7242505004